<h2>Register with Devolio</h2>
<div class="col-md-4"></div>
<div class="col-md-4 light-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <%= f.label :username, class: "col-sm-3" %>
    <%= f.text_field :username, required: true, autofocus: true %>
  </fieldset>
  <fieldset>
    <%= f.label :name, class: "col-sm-3" %>
    <%= f.text_field :name, required: true %>
  </fieldset>

  <fieldset>
    <%= f.label :email, class: "col-sm-3" %>
    <%= f.email_field :email, required:true %>
  </fieldset>

  <fieldset>
    <%= f.label :password, class: "col-sm-3" %>
    <% if @validatable %>
    <em class="col-sm-12">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, required: true, autocomplete: "off" %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation, class: "col-sm-3" %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "off" %>
  </fieldset>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
<div class="col-md-4"></div>
