<h1>This is the users show page!</h1><br>

<h2><%= @user.name %></h2><br>
<p><%= @user.description %></p>

<h3><%= @user.twitter_handle %></h3>
<h3><%= @user.skills %></h3>
<h3><%= @user.interests %></h3>

<h2><%= current_user._id %> </h2>