<h1>This is the users show page!</h1><br>

<h2><%= @user.name %></h2><br>
<p><%= @user.description %></p>

<h4>Twitter: <%= @user.twitter_handle %></h4>
<h4>My skills: <%= @user.skills %></h4>
<h4>My interests: <%= @user.interests %></h4>

<%= link_to "Home", root_path %>

<%= link_to "Run API", run_api_path %> 