<div class="dashboard">
  <section class="dark-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <% if (user_github) { %>
        <img src='<%= user_github.aviurl %>' alt="avatar">
        <% } else { %>
        <img src='http://i.imgur.com/i31E9hh.jpg' alt="default-avatar">
        <% } %>
      </div>
      <div class="name col-xs-9">
        <h2><%= user_settings.name %></h2>
      </div>
      <p><%= user_settings.description %></p>
      <ul class="icons">
        <li><a href="http://github.com/<%= user_settings.github_handle %>" class="entypo-github"></a></li>
        <li><a href="http://twitter.com/<%= user_settings.twitter_handle %>" class="entypo-twitter"></a></li>
      </ul>
      <ul class="contact-info">
        <li class="col-xs-3">Username</li>
        <li class="col-xs-9"><%= user_settings.username %></li>
        <li class="col-xs-3">Email</li>
        <li class="col-xs-9"><%= user_settings.email %></li>
        <li class="col-xs-3">Website</li>
        <li class="col-xs-9"><%= user_settings.website %></li>
        <li class="col-xs-3">GitHub</li>
        <li class="col-xs-9"><%= user_settings.github_handle %></li>
        <li class="col-xs-3">Twitter</li>
        <li class="col-xs-9"><%= user_settings.twitter_handle %></li>
        <li class="col-xs-3">Skills</li>
        <li class="col-xs-9">
          <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
            <span><%= key %></span>
          <% }} %>
        </li>
        <li class="col-xs-3">Interests</li>
        <li class="col-xs-9"><%= user_settings.interests %></li>
      </ul>
    </section>
    <aside class="aside-box">
      <form id='mailer-form' class="col-xs-12">
        <h3>Want to share your Devolio with someone?</h3>
        <p>Enter any email address below and a link to your personal DEVOLIO will be automatically sent!</p>
        <fieldset>
          <label for="" class="col-xs-12 col-sm-6">Email Address</label>
          <input class="col-xs-12 col-sm-6" type="text" name="email-address" id='send-email-address' value="">
        </fieldset>
        <fieldset>
          <input type="submit" id="send_email" value="Send Link">
          <p class="message" id='send-email-message'></p>
        </fieldset>
      </form>
    </aside>
  </section>
  <section class="light-container col-xs-12 col-sm-8">
    <h3>Edit Your Portfolio Information</h3>
    <form id="user-form">
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Name</label>
        <input class="col-xs-12 col-sm-6" type="text" name="name" value="<%= user_settings.name %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Short Description</label>
        <input class="col-xs-12 col-sm-6" type="text" name="description" value="<%= user_settings.description %>">
        <span class="meta col-xs-12 col-sm-3">2-3 sentences about why you are in tech.</span>
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">email</label>
        <input class="col-xs-12 col-sm-6" type="text" name="email" value="<%= user_settings.email %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">GitHub Username</label>
        <input class="col-xs-12 col-sm-6" id="gh_username" type="text" name="github_handle" value="<%= user_settings.github_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Twitter Username</label>
        <input class="col-xs-12 col-sm-6" type="text" name="twitter_handle" value="<%= user_settings.twitter_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">LinkedIn Username</label>
        <input class="col-xs-12 col-sm-6" type="text" name="linkedin_handle" value="<%= user_settings.linkedin_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Website</label>
        <input class="col-xs-12 col-sm-6" type="text" name="website" value="<%= user_settings.website %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Personal Interests</label>
        <input class="col-xs-12 col-sm-6" type="text" name="interests" value="<%= user_settings.interests %>">
        <span class="meta col-xs-12 col-sm-3">Separate interests with commas</span>
        <p class="meta col-xs-9 offset-3"><strong>Current Icons:</strong> animals, art, business, coffee, cooking, cycling, diy, games, mentoring, music, outdoors, photography, reading, research, speaking, sports, travel, tv/movies, writing</p>
      </fieldset>

      <hr>
      <h3>Employment History</h3>
      <fieldset>
        <label for="add-position-input" class="col-xs-12 col-sm-3">Add Position</label><button class="add-position button col-sm-1">+</button>
        <p class="error hidden col-xs-12">Please limit positions to 3.</p>
        <%  var i = 1; for (var key in user_settings.positions) { if (user_settings.positions.hasOwnProperty(key)) { %>
          <div class="added-position col-xs-12">
            <fieldset>
              <label for="position" class="col-xs-12 col-sm-3">Position Title</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][title]" value="<%= user_settings.positions[key].title %>">
            </fieldset>
            <fieldset>
              <label for="company" class="col-xs-12 col-sm-3">Company</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][company]" value="<%= user_settings.positions[key].company %>">
            </fieldset>
            <fieldset>
              <label for="time" class="col-xs-12 col-sm-3">Date Range</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][range]" value="<%= user_settings.positions[key].range %>">
            </fieldset>
            <fieldset>
              <label for="position" class="col-xs-12 col-sm-3">Short Description</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][description]" value="<%= user_settings.positions[key].description %>">
            </fieldset>
          </div>
        <% i += 1; }} %>
      </fieldset>
      <hr>
      <h3>Tech Stack</h3>
      <fieldset>
        <label for="add-skill-input" class="col-xs-12 col-sm-3">Add Skills</label>
        <input id="add-skill-input" class="col-xs-12 col-sm-5 skill-label" type="text" class="skill-label"><button class="add-skill button col-sm-1">+</button>
        <span class="meta col-xs-12 col-sm-3">Rank your experience from "Familiar with" to "I contribute to it".</span>
        <p class="error hidden">Please enter a skill.</p>
        <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
          <fieldset class="col-xs-12">
            <label for="skills[<%= key %>]" class="col-xs-3"><%= key %></label>
            <span class="col-sm-6"><input type="range" min="0" max="5" name="skills[<%= key %>]" value="<%= user_settings.skills[key] %>"></span>
          </fieldset>
        <% }} %>
      </fieldset>
      <hr>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Confirm Password</label>
        <input class="col-xs-12 col-sm-6" type="password" name="current_password" required>
        <span class="meta col-xs-12 col-sm-3">We need your current password to confirm changes.</span>
      </fieldset>
      <fieldset>
        <input type="submit" id="get_api" name="submit">
        <p class="message"></p>
      </fieldset>
    </form>
  </section>
</div>