<div class="dashboard">
  <section class="dark-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3 col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4">
        <% if (user_github) { %>
        <img src='<%= user_github.aviurl %>' alt="avatar">
        <% } else { %>
        <img src='http://i.imgur.com/i31E9hh.jpg' alt="default-avatar">
        <% } %>
      </div>
      <div class="name col-xs-8 col-sm-12 col-md-3">
        <h2><%= user_settings.name %></h2>
      </div>
      <p class="description col-xs-12"><%= user_settings.description %></p>
      <ul class="contact-info col-xs-12">
        <li class="col-xs-12 col-sm-4">Username</li>
        <li class="col-xs-12 col-sm-8"><%= user_settings.username %></li>
        <li class="col-xs-12 col-sm-4">Email</li>
        <li class="col-xs-12 col-sm-8"><%= user_settings.email %></li>
        <li class="col-xs-12 col-sm-4">Website</li>
        <li class="col-xs-12 col-sm-8"><%= user_settings.website %></li>
        <li class="col-xs-12 col-sm-4">Interests</li>
        <li class="col-xs-12 col-sm-8"><%= user_settings.interests %></li>
      </ul>
    </section>
    <aside class="aside-box">
      <form id='mailer-form' class="col-xs-12">
        <h3>Want to share your Devolio with someone?</h3>
        <p>Enter any email address below and a link to your personal DEVOLIO will be automatically sent!</p>
        <fieldset>
          <label for="email-address" class="col-xs-12 col-sm-5">Email Address</label>
          <input class="col-xs-12 col-sm-7" type="email" name="email-address" id='send-email-address' value="">
        </fieldset>
        <fieldset>
          <label for="email-personal-message" class="col-xs-12">Include a personal message!</label>
          <textarea class="col-xs-12" name="email-personal-message" id='send-email-personal-message' rows="3"></textarea>
        </fieldset>
        <fieldset>
          <input type="submit" id="send_email" value="Send Link">
          <p class="message" id='send-email-message'></p>
        </fieldset>
      </form>
      <div class='email-history-box col-xs-12'>
        <ul class='email-history-list'>
          <% if (emailHistory.length > 0) { %>
          <p>Previously sent to:</p>
            <% for (var i = 0; i < emailHistory.length; i++) { %>
              <li><%= emailHistory[i].recipient %> on <%= emailHistory[i].date %></li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </aside>
  </section>
  <section class="light-container col-xs-12 col-sm-8">
    <h3>Build Your Dev Portfolio</h3>
    <form id="user-form">
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Name</label>
        <input class="col-xs-12 col-sm-6" type="text" name="name" value="<%= user_settings.name %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Short Description</label>
        <input class="col-xs-12 col-sm-6" type="text" name="description" value="<%= user_settings.description %>">
        <span class="meta col-xs-12 col-sm-3">recommended: 2-3 sentences about why you are in tech.</span>
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Looking to</label>
        <% if (user_settings.loc_local) { %>
          <input class="" type="checkbox" name="loc_local" checked>Work Locally
        <% } else { %>
          <input class="" type="checkbox" name="loc_local">Work Locally
        <% } %>
        <% if (user_settings.loc_remote) { %>
          <input class="" type="checkbox" name="loc_remote" checked>Work Remotely
        <% } else { %>
          <input class="" type="checkbox" name="loc_remote">Work Remotely
        <% } %>
        <% if (user_settings.loc_relocate) { %>
          <input class="" type="checkbox" name="loc_relocate" checked>Relocate
        <% } else { %>
          <input class="" type="checkbox" name="loc_relocate">Relocate
        <% } %>
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">email</label>
        <input class="col-xs-12 col-sm-6" type="text" name="email" value="<%= user_settings.email %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">GitHub Username</label>
        <input class="col-xs-12 col-sm-6" id="gh_username" type="text" name="github_handle" value="<%= user_settings.github_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Twitter Username</label>
        <input class="col-xs-12 col-sm-6" type="text" name="twitter_handle" value="<%= user_settings.twitter_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">LinkedIn Username</label>
        <input class="col-xs-12 col-sm-6" type="text" name="linkedin_handle" value="<%= user_settings.linkedin_handle %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Website</label>
        <input class="col-xs-12 col-sm-6" type="url" name="website" value="<%= user_settings.website %>">
      </fieldset>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Personal Interests</label>
        <input class="col-xs-12 col-sm-6" type="text" name="interests" value="<%= user_settings.interests %>">
        <span class="meta col-xs-12 col-sm-3">Separate interests with commas</span>
        <p class="meta col-xs-12"><strong>Interests are paired with icons for visual display on your devolio.</strong></p>
        <p class="meta col-xs-12">We have already-paired interest/icons for: <br>animals, art, business, coffee, cooking, cycling, diy, games, mentoring, music, outdoors, photography, reading, research, speaking, sports, travel, tv/movies, writing</p>
      </fieldset>

      <hr>
      <h3>Employment History</h3>
      <fieldset>
        <label for="add-position-input" class="col-xs-12 col-sm-3">Add Position</label><button class="add-position button col-sm-3">Add</button>
        <p class="error hidden col-xs-12">Please limit positions to 3.</p>
        <%  var i = 1; for (var key in user_settings.positions) { if (user_settings.positions.hasOwnProperty(key)) { %>
          <div class="added-position col-xs-12">
            <fieldset>
              <label for="position" class="col-xs-12 col-sm-3">Position Title</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][title]" value="<%= user_settings.positions[key].title %>">
              <button class="delete-position button col-sm-1">remove</button>
            </fieldset>
            <fieldset>
              <label for="company" class="col-xs-12 col-sm-3">Company</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][company]" value="<%= user_settings.positions[key].company %>">
            </fieldset>
            <fieldset>
              <label for="time" class="col-xs-12 col-sm-3">Date Range</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][range]" value="<%= user_settings.positions[key].range %>">
            </fieldset>
            <fieldset>
              <label for="position" class="col-xs-12 col-sm-3">Short Description</label>
              <input class="col-xs-12 col-sm-6" type="text" name="positions[<%= i %>][description]" value="<%= user_settings.positions[key].description %>">
            </fieldset>
          </div>
        <% i += 1; }} %>
      </fieldset>
      <hr>
      <h3>Tech Stack</h3>
      <fieldset>
        <label for="add-skill-input" class="col-xs-12 col-sm-3">Add Skills</label>
        <input id="add-skill-input" class="col-xs-12 col-sm-5 skill-label" type="text" class="skill-label"><button class="add-skill button col-sm-1">Add</button>
        <span class="meta col-xs-12 col-sm-3 meta-tooltip">What do the rankings mean?<span class="tooltip">Rankings range from 0-5, least experience to most. 0 and 1 values are essentially the same (since, why would you add a skill with 0 experience?)<img src="http://i.imgur.com/rOpTSia.jpg" title="rankings" /></span></span>
        <p class="error hidden">Please enter a skill.</p>
        <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
          <fieldset class="col-xs-12 skill-range">
            <label for="skills[<%= key %>]" class="col-xs-3"><%= key %></label>
            <span class="col-sm-6"><input type="range" min="0" max="5" name="skills[<%= key %>]" value="<%= user_settings.skills[key] %>"></span><button class="delete-skill button col-sm-1">remove</button>
          </fieldset>
        <% }} %>
      </fieldset>
      <hr>
      <h3>Featured Project</h3>
      <p class="meta col-xs-12"><strong>Enter a project you really want to share with the world.</strong> In the description, enter what you find particularly pride-worthy or engaging about the project- we recommend limiting the description to 2-3 sentences.</p>
      <fieldset>
        <label for="project_link" class="col-xs-12 col-sm-3">Project Link</label>
        <input class="col-xs-12 col-sm-6" type="url" name="project_link" value="<%= user_settings.project_link %>">
      </fieldset>
      <fieldset>
        <label for="project_name" class="col-xs-12 col-sm-3">Project Name</label>
        <input class="col-xs-12 col-sm-6" type="text" name="project_name" value="<%= user_settings.project_name %>">
      </fieldset>
      <fieldset>
        <label for="project_description" class="col-xs-12 col-sm-3">Description</label>
        <input class="col-xs-12 col-sm-6" type="text" name="project_description" value="<%= user_settings.project_description %>">
      </fieldset>
      <fieldset>
        <label for="project_pic_link" class="col-xs-12 col-sm-3">Picture Link</label>
        <input class="col-xs-12 col-sm-6" type="url" name="project_pic_link" value="<%= user_settings.project_pic_link %>">
        <p class="meta col-xs-9 offset-3">services such a <a href="http://imgur.com/">imgur</a> or <a href="http://www.snag.gy">snaggy</a> are great for sharing photos like this! smaller, more square images will likely display best.</p>
      </fieldset>
      <hr>
      <fieldset>
        <label for="" class="col-xs-12 col-sm-3">Confirm Password</label>
        <input class="col-xs-12 col-sm-6" type="password" name="current_password" required>
        <span class="meta col-xs-12 col-sm-3">We need your current password to confirm changes.</span>
      </fieldset>
      <fieldset>
        <input type="submit" id="get_api" name="submit">
        <p class="message"></p>
      </fieldset>
      <p class="success"><strong>Please note!</strong> Importing your data from GitHub &amp; Twitter can take up to a couple of minutes behind the scenes. You may need to refresh your Devolio before you see your information fully populated.</p>
      <p class="messages error"></p>
    </form>
  </section>
</div>