<div class="dashboard">
  <section class="dark-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <% if (user_github) { %>
        <img src='<%= user_settings.avatar %>' alt="avatar">
        <% } else { %>
        <img src='http://i.imgur.com/i31E9hh.jpg' alt="default-avatar">
        <% } %>
      </div>
      <div class="name col-xs-9">
        <h2><%= user_settings.name %></h2>
      </div>
      <p><%= user_settings.description %></p>
      <ul class="icons">
        <li><a href="http://github.com/<%= user_settings.github_handle %>" class="entypo-github"></a></li>
        <li><a href="http://twitter.com/<%= user_settings.twitter_handle %>" class="entypo-twitter"></a></li>
        <!--li><a href="#" class="entypo-linkedin"></a></li-->
      </ul>
      <ul class="contact-info">
        <li class="col-xs-3">Username</li>
        <li class="col-xs-9"><%= user_settings.username %></li>
        <li class="col-xs-3">Email</li>
        <li class="col-xs-9"><%= user_settings.email %></li>
        <li class="col-xs-3">Website</li>
        <li class="col-xs-9"><%= user_settings.website %></li>
        <li class="col-xs-3">GitHub</li>
        <li class="col-xs-9"><%= user_settings.github_handle %></li>
        <li class="col-xs-3">Twitter</li>
        <li class="col-xs-9"><%= user_settings.twitter_handle %></li>
        <li class="col-xs-3">Skills</li>
        <li class="col-xs-9">
          <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
            <span><%= key %></span>
          <% }} %>
        </li>
        <li class="col-xs-3">Interests</li>
        <li class="col-xs-9"><%= user_settings.interests %></li>
      </ul>
    </section>
</section>
<section class="light-container col-xs-12 col-sm-8">
  <h3>Edit Your Portfolio Information</h3>
  <form id="user_form">
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Name</label>
      <input class="col-xs-12 col-sm-6" type="text" name="name" value="<%= user_settings.name %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Short Description</label>
      <input class="col-xs-12 col-sm-6" type="text" name="description" value="<%= user_settings.description %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">email</label>
      <input class="col-xs-12 col-sm-6" type="text" name="email" value="<%= user_settings.email %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">GitHub Username</label>
      <input class="col-xs-12 col-sm-6" id="gh_username" type="text" name="github_handle" value="<%= user_settings.github_handle %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Twitter Username</label>
      <input class="col-xs-12 col-sm-6" type="text" name="twitter_handle" value="<%= user_settings.twitter_handle %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Website</label>
      <input class="col-xs-12 col-sm-6" type="text" name="website" value="<%= user_settings.website %>">
    </fieldset>
    <fieldset>
      <label for="add-skill-input" class="col-xs-12 col-sm-3">Technical Skills</label>
      <input id="add-skill-input" class="col-xs-12 col-sm-3 skill-label" type="text" class="skill-label"><button class="add-skill button col-sm-1">+</button>
        <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
          <p class="col-xs-12">
            <label for="skills[<%= key %>]" class="col-xs-3"><%= key %></label>
            <span class="col-sm-6"><input type="range" min="0" max="5" name="skills[<%= key %>]" value="<%= user_settings.skills[key] %>"></span>
          </p>
        <% }} %>
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Personal Interests</label>
      <input class="col-xs-12 col-sm-6" type="text" name="interests" value="<%= user_settings.interests %>">
    </fieldset>
    <fieldset>
      <label for="" class="col-xs-12 col-sm-3">Confirm Password</label>
      <input class="col-xs-12 col-sm-6" type="password" name="current_password" required>
      <p class="col-xs-12"><i>(we need your current password to confirm your changes)</i></p>
    </fieldset>
    <fieldset>
      <input type="submit" id="get_api">
      <p class="message"></p>
    </fieldset>
  </form>
</section>
</div>