<div class="portfolio">
  <section class="light-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <img src="<%= user_github.aviurl %>" alt="">
      </div>
      <div class="name col-xs-9">
        <h2><%= user_settings.name %></h2>
      </div>
      <p><%= user_settings.description %></p>
      <ul class="icons">
        <li><a href="#" class="entypo-github"></a></li>
        <li><a href="#" class="entypo-twitter"></a></li>
        <li><a href="#" class="entypo-linkedin"></a></li>
      </ul>
      <ul class="contact-info">
        <li class="col-xs-3">Username</li>
        <li class="col-xs-9"><%= user_settings.username %></li>
        <li class="col-xs-3">Email</li>
        <li class="col-xs-9"><%= user_settings.email %></li>
        <li class="col-xs-3">Blog</li>
        <li class="col-xs-9"><%= user_settings.blog_link %></li>
        <li class="col-xs-3">GitHub</li>
        <li class="col-xs-9"><%= user_settings.github_handle %></li>
        <li class="col-xs-3">Twitter</li>
        <li class="col-xs-9"><%= user_settings.twitter_handle %></li>

      </ul>
    </section>
    <section id="user_linkedin">
      <!-- <h3>Experience</h3> -->
      <div class="position">
        <!-- position title -->
        <h4></h4>
        <!-- company -->
        <h5></h5>
        <!-- time span -->
        <p class="time-span"></p>
      </div>
      <!-- <h3>Recommendations</h3> -->
      <p></p>
    </section>
</section>
<section class="dark-container col-xs-12 col-sm-8">
  <section class="user_github">
    <h3>Recent GitHub Activity</h3>
    <ul>
      <li><%= user_github.aviurl %></li>
      <li><%= user_github.blog_link %></li>
      <li><%= user_github.commitMessages %></li>
      <li><%= user_github.commits %></li>
      <li><%= user_github.followersnum %></li>
      <li><%= user_github.followingnum %></li>
      <li><%= user_github.forkEvents %></li>
      <li><%= user_github.fullName %></li>
      <li><%= user_github.gistsEvents %></li>
      <li><%= user_github.languages %></li>
      <li><%= user_github.lineAdditions %></li>
      <li><%= user_github.lineDeletions %></li>
      <li><%= user_github.location %></li>
      <li><%= user_github.mostRecentEventDate %></li>
      <li><%= user_github.oldestEventDate %></li>
      <li><%= user_github.profileurl %></li>
      <li><%= user_github.pullEvents %></li>
      <li><%= user_github.pushEvents %></li>
      <li><%= user_github.reposnum %></li>
    </ul>
    <div class="data-graphs">
    </div>
  </section>
  <section class="col-xs-6">
    <section id="user_skills">
      <h3>Skills</h3>
      <ul class="skills-list">
        <% for(var i=0; i< user_settings.skills.length; i++) { %>
          <li class="skill-percentage"><%= user_settings.skills[i] %></li>
        <% } %>
      </ul>
    </section>
  </section>
  <section class="col-xs-6">
    <section id="user_tweets">
      <h3>Tweets</h3>
      <ul>
        <% for (var i = 0; i < user_tweets.length; i++) {%>
          <li class='i-am-a-fucking-tweet'><%= user_tweets[i].text %></li>
        <% } %>
      </ul>
    </section>
    <section id="user_interests">
      <h3>Interests</h3>
      <ul class="interests">
        <% for(var i=0; i< user_settings.interests.length; i++) { %>
          <li><%= user_settings.interests[i] %></li>
        <% } %>
      </ul>
    </section>
  </section>
</section>
</div>
