<div class="portfolio row-eq-height">
  <section class="light-container col-xs-12 col-md-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <% if (user_github) { %>
        <img src='<%= user_github.aviurl %>' alt="avatar">
        <% } else { %>
        <img src='http://i.imgur.com/i31E9hh.jpg' alt="default-avatar">
        <% } %>
      </div>
      <div class="name col-xs-9">
        <h2><%= user_settings.name %></h2>
      </div>
      <p class="col-xs-12"><%= user_settings.description %></p>
      <ul class="icons col-xs-12">
        <% if (user_settings.github_handle) { %>
        <li><a href="http://github.com/<%= user_settings.github_handle %>" class="fa fa-github-alt" target="_blank"></a></li>
        <% } %>
        <% if (user_settings.twitter_handle) { %>
        <li><a href="https://twitter.com/<%= user_settings.twitter_handle %>" class="fa fa-twitter" target="_blank"></a></li>
        <% } %>
        <% if (user_settings.linkedin_handle) { %>
        <li><a href="http://linkedin.com/in/<%= user_settings.linkedin_handle %>" class="fa fa-linkedin" target="_blank"></a></li>
        <% } %>
      </ul>
      <hr>
      <ul class="contact-info">
        <li class="col-xs-12 col-sm-3 print-hide">Username</li>
        <li class="col-xs-12 col-sm-9 print-hide"><%= user_settings.username %></li>
        <li class="col-xs-12 col-sm-3">Email</li>
        <li class="col-xs-12 col-sm-9"><%= user_settings.email %></li>
        <% if (user_settings.website) { %>
        <li class="col-xs-12 col-sm-3">Website</li>
        <li class="col-xs-12 col-sm-9"><a href="<%= user_settings.website %>" target="_blank"><%= user_settings.website %></a></li>
        <% } %>
        <% if (location_pref) { %>
          <li class="col-xs-12 col-sm-3">I want to:</li>
          <li class="col-xs-12 col-sm-9"><%= location_pref %></li>
        <% } else { %>
          <li class="col-xs-12">I have no location preference</li>
        <% } %>
      </ul>
    </section>
    <% if (user_settings.positions != null) { %>
    <section id="user_linkedin">
      <h3>Experience</h3>
      <%  for (var key in user_settings.positions) { if (user_settings.positions.hasOwnProperty(key)) { %>
        <div class="position">
          <h4><%= user_settings.positions[key].title %></h4>
          <h5>@ <%= user_settings.positions[key].company %></h5>
          <p class="time-span"><%= user_settings.positions[key].range %></p>
          <p><%= user_settings.positions[key].description %></p>
        </div>
      <% }} %>
    </section>
    <% } %>
    <% if (user_settings.interests.length > 1) { %>
    <section id="user_interests">
      <h3>Interests</h3>
      <ul class="interests">
        <% for(var i=0; i< user_settings.interests.length; i++) { %>
          <li><%= getIconMarkup(user_settings.interests[i]) %></li>
        <% } %>
      </ul>
    </section>
    <% } %>
</section>
<section class="dark-container col-xs-12 col-md-8">
  <% if (user_github) { %>
  <section class="user_github">
    <h3>Recent GitHub Activity</h3>
    <div class="data-graphs  col-xs-12 graph-container">
      <div id="js-histogram">
      </div>
      <h5>Total Activity Events Over Time</h5>
    </div>
    <div class="pie-charts print-hide col-xs-12">
      <div class="pieID pie">
        <div class="col-xs-6 col-md-4 col-lg-3 graph-container">
          <div id="js-recentLanguages">
          </div>
          <h5>Recent Languages</h5>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3 graph-container">
          <div id="js-allLanguages">
          </div>
          <h5>Total Languages Overall</h5>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3 graph-container">
          <div id="js-gitHubActivity">
          </div>
          <h5>Recent Github Events</h5>
        </div>
        <div class="col-xs-6 col-md-12 col-lg-3 graph-container">
          <ul class="github-stats graph-container">
            <li class="print-show core-activity">
              <p><%= parseInt(user_github.pushEvents) + parseInt(user_github.pullEvents) + parseInt(user_github.commits) %></p>
              <span>Total public pushes, pulls, and forks since <%= user_github.oldestEventDate %> span</span>
            </li>
            <li>
              <p><%= user_github.followersnum || 0 %></p>
              <span>Followers</span>
            </li>
            <li>
              <p><%= user_github.followingnum || 0 %></p>
              <span>Following</span>
            </li>
            <li>
              <p><%= user_github.reposnum || 0 %></p>
              <span>Public Repos</span>
            </li>
            <li>
              <p><%= user_github.allStars || 0 %></p>
              <span>Repo Stars</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <% var totalLineActivity = parseInt(user_github.lineAdditions) + parseInt(user_github.lineDeletions) %>
      <span class="lines-data additions" style="width:<%= parseInt(user_github.lineAdditions)/totalLineActivity * 100 %>%;"></span><span class="lines-data deletions" style="width:<%= parseInt(user_github.lineDeletions)/totalLineActivity * 100 %>%;"></span>
    </div>
    <p class="meta">*all data reflects public activity drawn from GitHub api, private activity is not shown</p>
  </section><!-- end github section -->
  <% } %>
  <section class='col-xs-12'>
    <% if (user_settings.project_name) { %>
      <section id='featured-project-title'>
        <h3>Featured Project</h3>
      </section>
      <section id='featured-project-body'>
        <section class='col-xs-12 col-md-6 col-lg-8'>
          <h4><a href="<%= user_settings.project_link%>"><%= user_settings.project_name %></a></h4>
          <p><%= user_settings.project_description %></p>
        </section>
        <% if (user_settings.project_pic_link) { %>
          <section class='col-xs-12 col-md-6 col-lg-4'>
            <img src='<%= user_settings.project_pic_link %>' alt="project picture">
          </section>
        <% } %>
      </section>
    <% } %>
  </section>
  <section class="col-xs-6">
    <% if (user_settings.skills) { %>
    <section id="user_skills">
      <h3>Tech Stack</h3>
      <ul class="skills-list">
        <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
          <li class="skill-percentage w<%= user_settings.skills[key]*20 %>"><%= key %></li>
        <% }} %>
      </ul>
    </section>
    <% } %>
  </section>
  <section class="col-xs-6">
    <% if (user_settings.twitter_handle && user_tweets.length > 0) { %>
    <section id="user_tweets">
      <h3>Tweets</h3>
      <ul>
        <% for (var i = 0; i < user_tweets.length; i++) {%>
          <li class='i-am-a-lovely-tweet'>
            <img src="<%= user_tweets[i].user.profile_image_url %>" alt="profile-image">
            <a href="https://www.twitter.com/<%= user_tweets[i].user.screen_name %>" title="user-profile"><strong><%= user_tweets[i].user.name %></strong></a>
            <span class="meta">@<%= user_tweets[i].user.screen_name %></span>
            <span class="meta"> | <%= parseTwitterDate(user_tweets[i].created_at) %></span>
            <div><%= user_tweets[i].text %></div>
            <span class="meta"><%= user_tweets[i].retweet_count %> retweets</span>
            <span class="meta"><%= user_tweets[i].favorite_count %> favorites</span>
          </li>
        <% } %>
      </ul>
    </section>
    <% } %>

  </section>
</section>
</div>
