<div class="portfolio">
  <% console.log(user_settings) %>
  <section class="light-container col-xs-12 col-sm-4">
    <h1 class="logo small">Devolio</h1>
    <section id="user_profile">
      <div class="avatar col-xs-3">
        <% if (user_github) { %>
        <img src='<%= user_github.aviurl %>' alt="avatar">
        <% } else { %>
        <img src='http://i.imgur.com/i31E9hh.jpg' alt="default-avatar">
        <% } %>
      </div>
      <div class="name col-xs-9">
        <h2><%= user_settings.name %></h2>
      </div>
      <p><%= user_settings.description %></p>
      <ul class="icons">
        <% if (user_settings.github_handle) { %>
        <li><a href="http://github.com/<%= user_settings.github_handle %>" class="fa fa-github-alt" target="_blank"></a></li>
        <% } %>
        <% if (user_settings.twitter_handle) { %>
        <li><a href="https://twitter.com/<%= user_settings.twitter_handle %>" class="fa fa-twitter" target="_blank"></a></li>
        <% } %>
        <% if (user_settings.linkedin_handle) { %>
        <li><a href="http://linkedin.com/in/<%= user_settings.linkedin_handle %>" class="fa fa-linkedin" target="_blank"></a></li>
        <% } %>
      </ul>
      <hr>
      <ul class="contact-info">
        <li class="col-xs-3">Username</li>
        <li class="col-xs-9"><%= user_settings.username %></li>
        <li class="col-xs-3">Email</li>
        <li class="col-xs-9"><%= user_settings.email %></li>
        <% if (user_settings.website) { %>
        <li class="col-xs-3">Website</li>
        <li class="col-xs-9"><a href="<%= user_settings.website %>" target="_blank"><%= user_settings.website %></a></li>
        <% } %>
        <% if (user_settings.github_handle) { %>
        <li class="col-xs-3">GitHub</li>
        <li class="col-xs-9"><%= user_settings.github_handle %></li>
        <% } %>
        <% if (user_settings.twitter_handle) { %>
        <li class="col-xs-3">Twitter</li>
        <li class="col-xs-9"><%= user_settings.twitter_handle %></li>
        <% } %>
      </ul>
    </section>
    <% if (user_settings.positions != null) { %>
    <section id="user_linkedin">
      <h3>Experience</h3>
      <%  for (var key in user_settings.positions) { if (user_settings.positions.hasOwnProperty(key)) { %>
        <div class="position">
          <h4><%= user_settings.positions[key].title %></h4>
          <h5>@ <%= user_settings.positions[key].company %></h5>
          <p class="time-span"><%= user_settings.positions[key].range %></p>
          <p><%= user_settings.positions[key].description %></p>
        </div>
      <% }} %>
      <!-- <h3>Recommendations</h3> -->
      <!-- <p></p> -->
    </section>
    <% } %>
</section>
<section class="dark-container col-xs-12 col-sm-8">
  <% if (user_github) { %>
  <section class="user_github">
    <h3>Recent GitHub Activity</h3>
    <div class="pie-charts">
      <section>
        <div class="pieID pie">

        </div>
        <ul class="pieID legend">
          <li>
            <em>Commits</em>
            <span><%= user_github.commits %></span>
          </li>
          <li>
            <em>Lines Added</em>
            <span><%= user_github.lineAdditions %></span>
          </li>
          <li>
            <em>Lines Deleted</em>
            <span><%= user_github.lineDeletions %></span>
          </li>
        </ul>
      </section>
    </div>
    <ul>
      <li><a href='<%= user_github.aviurl %>'>Your Avatar!</a></li>
      <li><%= user_github.blog_link %>: Link to your blog if you have one</li>
      <li><%= user_github.commitMessages %>random commit message among many!</li>
      <li><%= user_github.commits %> commits</li>
      <li><%= user_github.followersnum %> followers</li>
      <li><%= user_github.followingnum %> following</li>
      <li><%= user_github.forkEvents %> forks</li>
      <li><%= user_github.fullName %> your full name wow</li>
      <li><%= user_github.gistsEvents %> gists</li>
      <li><%= user_github.languages %> language usage!</li>
      <li><%= user_github.lineAdditions %> lines added</li>
      <li><%= user_github.lineDeletions %> lines deleted</li>
      <li>From: <%= user_github.location %></li>
      <li>From: <%= user_github.mostRecentEventDate %></li>
      <li>To: <%= user_github.oldestEventDate %></li>
      <li><%= user_github.profileurl %></li>
      <li><%= user_github.pullEvents %> pulls</li>
      <li><%= user_github.pushEvents %> pushes</li>
      <li><%= user_github.reposnum %> public repos belonging to you</li>
    </ul>
    <div class="data-graphs">
    </div>
  </section><!-- end github section -->
  <% } %>
  <section class="col-xs-6">
    <% if (user_settings.skills) { %>
    <section id="user_skills">
      <h3>Tech Stack</h3>
      <ul class="skills-list">
        <%  for (var key in user_settings.skills) { if (user_settings.skills.hasOwnProperty(key)) { %>
          <li class="skill-percentage w<%= user_settings.skills[key]*20 %>"><%= key %></li>
        <% }} %>
      </ul>
    </section>
    <% } %>
  </section>
  <section class="col-xs-6">
    <% if (user_settings.twitter_handle && user_tweets.length > 0) { %>
    <section id="user_tweets">
      <h3>Tweets</h3>
      <ul>
        <% for (var i = 0; i < user_tweets.length; i++) {%>
          <li class='i-am-a-lovely-tweet'>
            <img src="<%= user_tweets[i].user.profile_image_url %>" alt="profile-image">
            <a href="https://www.twitter.com/<%= user_tweets[i].user.screen_name %>" title="user-profile"><strong><%= user_tweets[i].user.name %></strong></a>
            <span class="meta">@<%= user_tweets[i].user.screen_name %></span>
            <span class="meta"> | <%= parseTwitterDate(user_tweets[i].created_at) %></span>
            <div><%= user_tweets[i].text %></div>
            <span class="meta"><%= user_tweets[i].retweet_count %> retweets</span>
            <span class="meta"><%= user_tweets[i].favorite_count %> favorites</span>
          </li>
        <% } %>
      </ul>
    </section>
    <% } %>
    <% if (user_settings.interests.length > 1) { %>
    <section id="user_interests">
      <h3>Interests</h3>
      <ul class="interests">
        <% for(var i=0; i< user_settings.interests.length; i++) { %>
          <li><%= getIconMarkup(user_settings.interests[i]) %></li>
        <% } %>
      </ul>
    </section>
    <% } %>
  </section>
</section>
</div>
