<!DOCTYPE html>
<html>
<head>
  <title>DEVOLIO</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' >
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

</head>
<% if user_signed_in? %>
<body id="<%= current_user.username %>">
<% else %>
<body>
<% end %>
  <div class="main-container">
    <div class="nav">
    <% if user_signed_in? %>
        Welcome <%=  current_user.email %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button" %>
    <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "button" %> or <%= link_to "Sign up", new_user_registration_path, class: "button"  %>
    <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
