<!DOCTYPE html>
<html>
<head>
  <title>DEVOLIO</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'print', media = 'print' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' >
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <!-- Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<% if user_signed_in? %>
<body id="<%= current_user.username %>">
<% else %>
<body>
<% end %>
  <div class="main-container">
      <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <%= message %>
        </div>
      <% end -%>
    <%= yield %>
  </div>
  <footer>
    <section class='nav col-xs-12'>
      <% if user_signed_in? %>
          <span class="col-xs-12 col-sm-6">Welcome <%=  current_user.username %>! <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button" %></span>
          <span class="col-xs-12 col-sm-6"><%= link_to "Dashboard", '/dashboard', class: "button" %> <%= link_to "My DEVOLIO", "/#{current_user.username}", class: "button" %></span>
      <% else %>
          <span><%= link_to "Sign in", new_user_session_path, class: "button" %> or <%= link_to "Sign up", new_user_registration_path, class: "button"  %></span>
      <% end %>
    </section>
    <section class='col-xs-12 footer-content'>
      <p>Like open source? Follow <a href="https://github.com/cbus-sea-lions-2015/DEVOLIO" class="col-xs-12 col-sm-0"><strong>DEVOLIO on GitHub</strong></a> for information on how to contribute!</p>
      <p>Created and maintained by</p>
      <ul>
        <li><a href="http://www.github.com/jannypie">Jan Dennison</a></li>
        <li><a href="http://www.github.com/marycbaylis">Mary Baylis</a></li>
        <li><a href="http://www.github.com/jroger2908">Jonathan Roger</a></li>
        <li><a href="http://www.github.com/secade">Chris Singer</a></li>
      </ul>
    </section>
  </footer>

</body>
</html>
